.recipSlider {

}

.recipSlider__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--black);
    padding-left: 15px;
    margin-bottom: 10px;
}

.recipSlider__inner {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.recipSlider__info {
    position: absolute;
    display: flex;
    gap: 10px;
    left: 10px;
    top: 10px;
    color: var(--white);
}

.recipSlider__text {
    padding: 5px 10px 5px 30px;
    background-color: var(--recip-filter);
    border-radius: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
}

.recipSlider__text:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 5px;
    left: 5px;
}


.recipSlider__text_time:before {
    background-image: url("../../../static/time.svg");

}

.recipSlider__text_portions:before {
    background-image: url("../../../static/portions.svg");
}

.recipSlider__item {
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
    background-color: var(--white);
}
.recipSlider__wrapper{

    display: flex;
    gap: 5px;

}
.recipSlider__list{
    display: flex;
    gap: 5px;
}
.recipSlider__btn{
    display: inline;
    color: var(--black);
    background-color: var(--lime);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
}
.recipSlider__img{
    max-width: 650px;
    max-height: 450px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width:630px) {
    .recipSlider__img{
        max-height: 300px;
        max-width: 300px;
    }
    .recipSlider__inner{
        display: flex;
        justify-content: center;
    }
    .recipSlider__info{
        left: 90px;
    }
}
@media screen and (min-width:768px){
    .recipSlider__info{
        left: 20px;
    }
}