.popap{
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: flex-end;
    align-items: flex-end;

}
.popap__inner{
    background-color: var(--lime);
    padding: 10px;
    color: var(--white);
}
.active{
    display: flex;
}