
.header{
    padding: 15px;
    position: fixed;
    z-index: 5;
    top: 0;
    background-color: #FFF;
    width: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    order: 1;
}

.nav > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav__menu {
    display: block;
    font-size: 0;
    width: 40px;
    height: 40px;
    z-index: 11;
    position: relative;

}

.nav__span {
    width: 35px;
    height: 5px;
    display: block;
    border-radius: 2px;
    background-color: var(--lime);
    position: relative;
    transition: all 0.05s ease-in-out;
}

.nav__span::after {
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 2px;
    display: block;
    background-color: var(--lime);
    position: absolute;
    top: 13px;

}

.nav__span::before {
    content: "";
    width: 35px;
    height: 5px;
    border-radius: 2px;
    display: block;
    background-color: var(--lime);
    position: absolute;
    top: -12px;

}

.nav__menuActive > .nav__span:after {
    background-color: var(--black);
    transform: rotate(45deg);
    width: 35px;
    top: -5px;

}
.nav__menuActive > .nav__span:before {
    background-color: var(--black);
    transform: rotate(-45deg);
    top:-5px;
}
.nav__menuActive > .nav__span{
    height: 0;
}

.nav__sales {
    display: flex;
    align-items: center;

}
.nav__sales_wrapper{background-color: var(--yellow) !important;
    padding: 7px 9px;
    border-radius: 6px;
}
.nav__sales_text{
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 10px;
    position: relative;
}
.nav__sales_text:before{
    content: "";
    position: absolute;
    left: 68px;
    top: 0;
    background-image: url("./../../../static/downArrow.svg");
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav__list {
    /*display: none;*/
    position: absolute;
    left: -340px;
    bottom: 0;
    /*width: 0;*/
    top: -1000%;

    background-color: var(--white);

    transition: all 1s linear;
    height: calc(100vh - 70px);
    user-select: none;

}

.nav__active {
    display: block;
    top: 70px;
    right: 0;
    left: 0;
    width: 100%;
    transition: all 0.4s linear;

}

.nav__text {
    margin-top: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.nav__item {
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);

    padding: 5px;
}

.nav__link {
    display: flex;
    align-items: center;
}
.nav__link:active{
    background-color: var(--lime);
}
.nav__textBtn{
    font-size: 0;
}
.nav__name {
    padding-left: 15px;
    text-transform: lowercase;
}
.nav__name::first-letter{
    text-transform: uppercase;
}
.nav__menu:before{
    display: none;
    content: "";
    position: absolute;
    left: 17px;
    top: 9px;
    background-image: url("./../../../static/loping.svg");
    width: 24px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (min-width: 992px){
    .nav__active{
        width: 350px;
        left: -15px;
        transition: all 0.3s linear;
    }
    .header{
        padding: 15px;
    }
}
@media screen and (min-width: 1068px)  {
    .nav__menu {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        background-color: var(--lime ) !important;
        border-radius:10px;
        padding: 0 20px 0 55px;
        width: 135px;
        position: relative;

    }
    .nav__span{
        display: none;
    }
    .nav__menu:before{
        display: block;
    }
    .nav__sales_text{
        display: block;
    }
    .nav__textBtn {
        font-size: 14px;
        font-weight: 700;
        padding-left: 10px;
    }
    .nav__button{
        display: flex;
        align-items: center;
    }


}